// PrimeReact Table
.p-datatable {
  font-family: 'Circular-Book', 'sans-serif';
  padding: 0 16px;
  font-size: 0.75rem;
}

.p-datatable-table {
  width: 100%;
}

.p-datatable-table thead tr[role='row'] {
  border-bottom: 1px solid #ffffff1a;
  text-transform: uppercase;
}

.p-datatable tbody {
  font-size: 0.875rem;
}

.p-datatable tbody tr {
  border-radius: 8px !important;

  &:hover {
    background: rgba(#ffffff, 0.1);
  }
}

.p-selectable-row.p-highlight {
  background: rgba(#ffffff, 0.3) !important;
}
