@use './mixin.scss';

// PrimeReact Table
.p-datatable {
  font-family: 'Circular-Book', 'sans-serif';
  padding: 0 16px;
  font-size: 0.75rem;
}

.p-datatable-table {
  width: 100%;
}

.p-datatable tbody {
  font-size: 0.875rem;
}

.p-datatable tbody tr {
  border-radius: 8px !important;

  &:hover {
    background: rgba(#ffffff, 0.1);
  }
}

.p-datatable thead th {
  padding-block: 10px;
}

.p-datatable tbody tr:hover .buttonLike,
.p-selectable-row.p-highlight .buttonLike {
  opacity: 1;
}

.p-datatable .buttonLike:not(.liked) {
  opacity: 0;
}

.p-selectable-row.p-highlight {
  background: rgba(#ffffff, 0.3) !important;
}

.p-datatable tbody tr:hover .title p,
.p-datatable tbody tr:hover .title,
.p-datatable tbody tr:hover td.album,
.p-selectable-row.p-highlight .title p,
.p-selectable-row.p-highlight .title,
.p-selectable-row.p-highlight td.album {
  color: white;
}

.p-datatable th:first-child .p-column-header-content {
  justify-content: center;
}
.p-datatable th:last-child .p-column-header-content {
  justify-content: end;
}

.p-datatable tbody .p-column-title {
  margin-right: 20px;
}

//Table tracks
.p-datatable.table-tracks thead tr[role='row'],
.p-datatable.table-discography thead tr[role='row'] {
  border-bottom: 1px solid #ffffff1a;
  text-transform: uppercase;
}

// Table Podcast
.p-datatable.table-podcasts .link {
  border-top: 1px solid #ffffff1a;
}

// Media Querries
@media screen and (max-width: 780px) {
  .p-datatable.table-tracks tbody tr {
    @include mixin.rowTableMobile;
  }

  .p-datatable .buttonLike {
    opacity: 1;
  }
}

// Media Querries
@media screen and (max-width: 640px) {
  .p-datatable.table-artist tbody tr,
  .p-datatable.table-discography tbody tr,
  .p-datatable.table-profil tbody tr {
    @include mixin.rowTableMobile;
  }
}
